.clearfix:after {
  content: '';
  clear: both;
  display: block;
}

/** { outline: 1px solid red; }*/

.google {
  width: 100%;
}

body {
  background-image: url(../img/background.jpg);
  font-family: tahoma regular;
  font-size: 12px;
}

.wrapper {
  margin: 0 auto;
  width: 1020px;
  height: 1000px;
  background-color: #ffffff;
  line-height: 1;
}

header {
  padding: 11px 30px 8px 30px;
}

.logo {
  float: left;
  height: 149px;
}

.contacts {
  float: right;
  color: #128aa7;
  line-height: 9px;
}

.countries {
  clear: right;
  float: right;
  margin-top: 10px;
}

.countries li {
  display: inline-block;
  text-align: center;
  margin-left: 11px;
}

.countries li img {
  display: block;
  margin: auto;
}

.countries a {
  font-size: 10px;
  color: #128aa7;
}

.central {
  width: 100%;
  outline: 1px solid #128aa7;
}

article {
  margin-top: 1px;
}


.lower {
  margin: auto;
  width: 1020px;
  text-align: center;
  color: #ffffff;
  opacity: 0.8;
}
