body {
  background-color: #f9f9f9;
  font-family: 'Open Sans', sans-serif;
}
.wrapper {
  margin: 0px auto;
  width: 1060px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px #dbdbdb;
}

.logo {
  margin: 54px 55px;
}

.top_menu {
  width: 968px;
  height: 40px;
  margin: -16.5px 55px;
  background-color: #535252;
}

.t_menu li {
	margin: 0px 50px 0px 2px;
	float: left;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
}

.t_menu li:hover {
	border-left: 1px solid #838383;
	border-right: 1px solid #838383;
  background-color: #3b3b3b;
}

.t_menu li a {
	padding: 0px 23px;
	text-decoration: none;
	color:#ffffff;
	text-shadow: 1px 1px 1px #000;
	line-height: 40px;
	font-size: 14.67px;
}

.t_menu li:nth-child(2) {
  margin: 0px 50px 0px -14px;
}

.t_menu li:nth-child(3) {
  margin: 0px 50px 0px -12px;
}

.t_menu li:last-child {
  margin: 0px 50px 0px -12px;
}

.container {
  margin-top: 58px;
}

.left_menu {
  float: left;
	width: 240px;
	margin: 0px 0px 0px 55px;
}

.left_menu li a {
  box-sizing: border-box;
  display: block;
	height: 39px;
	text-decoration: none;
	border: 1px solid #c8c8c8;
  border-bottom: 0px;
	padding: 0px 21px;
	line-height: 40px;
	font-size: 13.33px;
  color: #656363;
}

.left_menu li:nth-child(4) {
  height: 41px;
}

.left_menu li:nth-child(5) {
  height: 41px;
}

.left_menu ul:last-child {
border-bottom: 1px solid #c8c8c8;
}

.left_menu ul a:hover {
  background-color: #f9f9f9;
	padding-left: 35px;
  color: #2c2c2c;
}

.content {
	float :left;
	width: 63%;
	margin-left: 48px;
}

.content img {
	padding: 47px 89px;
	border: 1px solid #c8c8c8;
}

.content p {
	margin-left: 22px;
	margin-top: 29px;
	line-height: 22px;
	font-size: 13.33px;
}

footer {
  margin: 699.5px 47px 60px 47px;
  width: 968px;
	height: 40px;
	background-color: #e1e1e1;
}

.foot_menu ul li {
	display: inline-block;
	margin: 0 64px 0  25px;
}

.foot_menu ul li a {
	color: #2c2c2c;
	text-decoration: none;
	line-height: 40px;
	font-size: 13.33px;
}

.foot_menu ul li a:hover {
	text-decoration: underline;
  color: #6a6a6a;
}

span {
	float: right;
	margin-right: 25px;
	line-height: 40px;
	font-size: 13.33px;
}
