@font-face {
    font-family: 'Lucida Sans Unicode';
    src: url('../fonts/lsansuni-webfont.woff2') format('woff2'),
         url('../fonts/lsansuni-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
  font-family: "Lucida Sans Unicode", arial, sans-serif;
}

.clearfix:after {
  content: '';
  clear: both;
  display: block;
}

body {
  background-color: #fff;
  min-height: 100vh;
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 910px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin-left: 17px;
}

.phone-logo img{
background-color: #164f71;
height: 20px;
width: 20px;
border-radius: 10px;
vertical-align: middle;
}

.numbers {
  color: #5e696d;
  font-size: 18px;
  font-family: arial;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-decoration: none;
}

.person {
  height: 18px;
  width: 18px;
  margin-left: 7px;
}

.personalization {
  background: linear-gradient(to bottom,#1f6787,#0d365a);
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin-left: 15px;
  padding: 3px 0;
  border-radius: 4px;
  height: 25px;
  box-shadow: 2px 3px 3px 0 rgba(0,0,0,0.75);
}

[type="text"],
[type="password"] {
  max-height: 17px;
  max-width: 114px;
}

[type="password"] {
  margin-left: 7px;
}

[placeholder="логин"],
[placeholder="пароль"] {
  padding-left: 2px;
}

.submitting {
  background: linear-gradient(to bottom,#1f6787,#0d365a);
  border: none;
  cursor: pointer;
  font-size: 11px;
  font-weight: 100;
}

.registration:before{
  content: "";
  border: 0.2px solid #fff;
  margin-right: 8px;
}

.registration {
  text-decoration: none;
  font-weight: 200;
  font-size: 12px;
  padding-top: 3px; /*костыль*/
}

.submitting,
.registration {
  color: #fff;
}

.forgot-password {
  margin-left: 10px;
  margin-right: 10px;
  color: #afb2b5;
  font-size: 12px;
  padding-top: 1px;
}

.personalization a {
  margin-bottom: 2px;
}

.home-map-feedback {
  height: 19px;
  margin-left: 17px;
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid #afb2b5;
  border-radius: 10px;
}

.map-site {
  margin: 0 8px;
}

.logo {
  margin-top: 5px;
}

nav {
  width: 895px;
  background: linear-gradient(to bottom,#4d5663,#020202);
  margin-top: 3px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-radius: 2px;
  padding-right: 14px;
  box-shadow: 2px 3px 5px 0 rgba(0,0,0,0.75);
}

.central-menu {
  margin: auto 0;
}

.central-menu li {
  display: block;
  height: 100%;
  padding: 10px 15px;
  float: left;
}

.central-menu li:hover {
  background-color: #103f63;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}

nav li:hover a{
  background-color: #103f63;
  border-radius: 20px;
  color: white;
}

.central-menu a {
  text-decoration: none;
  color: #b1bcc0;
  font-size: 14px;
  text-transform: uppercase;
}

.purchase {
  height: 32px;
  margin-left: 70px;
  display: flex;
  align-items: center;
  font-family: arial;
}

.purchase img {
  margin-right: 15px;
}

.items,
.sum {
  color: #b1bcc0;
  font-size: 11px;
}

.items {
  padding-right: 2px;
}

.sum {
  padding: 0 15px;
}

.value {
  color: #0d5a8f;
  font-size: 12px;
}

/*start of crap blocks*/

.three-blocks {
  height: 135px;
  width: 910px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  font-family: arial;
}

.left-block,
.central-block,
.right-block {
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  box-shadow: 2px 3px 5px 0 rgba(0,0,0,0.75);
  font-size: 10px;
  position: relative;
}

.left-block {
  width: 415px;
  font-family: arial;
}

h3 {
  text-align: center;
}

.grey {
  margin-left: 3px;
  font-size: 9px;
}

.rims {

}

.rims-tyres {
/*column-count:2;*/
}

.tyres-select {

}

select {
  height: 15px;
  font-size: 9px;
}

.central-block {
  margin-left: 15px;
  margin-right: 10px;
  width: 190px;
}

.right-block {
  width: 266px;
}

.search {
  position: absolute;
  right: 15px;
  bottom: 5px;
  background-color: #fff;
  border: none;
  font-family: arial;
  color: #154467;
  text-decoration: underline;
  font-style: italic;
  font-size: 14px;
  font-weight: 200;
  cursor: pointer;
}

/* end of crap lists*/

.main-blocks {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  width: 910px;
  margin-top: 20px;
}

.left-menu img,
.right-menu img {
  height: 20px;
  width: 20px;
}

.left-menu ul {
  padding-top: 5px;
  padding-left: 50px;
  padding-bottom: 5px;
}

.left-menu li {
  list-style: circle;
}

.left-menu li:nth-child(2),
.left-menu li:nth-child(3) {
  margin: 5px 0;
}

.left-menu li a{
  text-decoration: none;
  color: #465961;
  font-size: 13px;
}

.left-menu li a:hover {
  font-family: arial;
  font-style: italic;
  font-weight: bold;
  font-size: 14px;
  text-decoration: underline;
  color: #0c3256;
}

.product-list {
  display: flex;
  align-items: center;
  width: 180px;
  padding: 2px 4px;
  border: 1px solid #8b979c;
  border-radius: 30px;
  box-shadow: 2px 3px 5px 0 rgba(0,0,0,0.75);
  font-size: 13px;
  text-transform: uppercase;
  color: #114165;
}

.tyres,
.tyres-right {
  margin-top: 20px;
}

.tyres,
.wheels,
.bolts,
.wheels-right,
.tyres-right {
  display: flex;
  align-items: center;
  width: 150px;
  border: 1px solid #8b979c;
  border-radius: 30px;
  margin-left: 5px;
  padding: 4px 5px;
  font-size: 14px;
  text-transform: uppercase;
  font-stretch: ultra-expanded;
  color: #114165;
}

.wheels-right,
.tyres-right {
  margin-left: 20px;
}

.head-line {
  margin-left: 3px;
}

.right-menu-list {
  margin: 10px 25px;
  font-size: 13px;
  color: #114165;
}

.right-menu-list li:nth-child(2) {
  margin: 10px 0;
}

.tyres-wheels-choice {
  margin-top: 15px;
  margin-left: 27px;
  background: linear-gradient(to bottom,#1f6787,#0d3458);
  border-color: #1f6787;
  border-radius: 10px;
  color: #fff;
  font-family: arial;
  font-size: 11px;
  box-shadow: 2px 3px 5px 0 rgba(0,0,0,0.75);
  padding: 3px 20px;
  text-transform: uppercase;
  font-weight: 100;
}

main {
  background: linear-gradient(to bottom,#e5e7e8,#93a7b0);
  width: 515px;
  margin: 0 10px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  padding: 15px 5px;
  border-radius: 5px;
}

.tyres-container {
  width: 135px;
  background-color: #fff;
  border: 1px solid #a7b1b4;
  border-radius: 5px;
}

.tyres-container img {
  display: block;
  margin: 5px auto;
}

figcaption {
  font-size: 15px;
  color: #206988;
}

figcaption,
.tyres-price {
  text-align: center;
}

.tyres-price {
  margin-top: 3px;
  font-family: arial;
  font-size: 16px;
  font-weight: bold;
  color: #114165;
}

.tyres-type {
  text-align: center;
  font-size: 13px;
}

.uah {
  margin-left: 3px;
}

.middle-line {
  margin-top: 10px;
  margin-bottom: 10px;
}

.right-menu {
}

.logo-marks {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.logo-marks img {
  padding-right: 13px;
}

footer {
  height: 100px;
  width: 912px;
  background-color: #213a4d;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-menu {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.bottom-menu a {
  text-decoration: none;
  color: #bec6c9;
  font-family: arial;
  font-size: 12px;
}

.bottom-v-line::after {
  content: "";
  border: 0.5px solid #bec6c9;
  margin: 0 15px;
}

.bottom-menu li a:hover {
  color: #4792af;
}

.created {
  margin-top: 15px;
  color: #7f4740;
}
