.clearfix:after {
  content: '';
  clear: both;
  display: block;
}

.google {
  width: 100%;
}

body {
  background-image: url(../img/background.jpg);
  font-family: tahoma regular;
  font-size: 12px;
}

.wrapper {
  margin: 0 auto;
  width: 1020px;
  background-color: #ffffff;
  line-height: 1;
}

header {
  padding: 9px 30px 5px 30px;
  height: 150px
}

.contacts {
  float: right;
  color: #128aa7;
  line-height: 9px;
}

.head_menu {
  clear: right;
  float: right;
}

.countries {
  margin-top: 10px;
}

.countries li {
  display: inline-block;
  text-align: center;
  margin-left: 11px;
}

.countries li img {
  display: block;
  margin: auto;
}

.countries a {
  font-size: 10px;
  color: #128aa7;
}

.central {
  width: 100%;
  outline: 1px solid #128aa7;
}

nav {
  margin-top: 1px;
  padding: 0px 65px;
  background-color: #343434;
}

.central_menu {
  display: block;
  list-style: none;
  text-align: center;
}

.central_menu > li {
  float: left;
  position: relative;
  }

.central_menu > li > a {
  display: block;
  padding: 10px 30px;
  color: #ffffff;
  text-decoration: none;
}

.drop_menu {
  display: none;
  position: absolute;
  width: 100%;
}

.drop_menu > li {
  display: block;
}

.drop_menu > li > a {
  display: block;
  padding: 10px;
  color: #ffffff;
  background-color: #343434;
  text-decoration: none;
}

.drop_menu > li > a:hover {
  text-decoration: underline;
}

.central_menu > li:hover > .drop_menu {
  display: block;
}

article {
  font-size: 12px;
  text-align:center;
  display: flex;
}

.left-block {
  padding-top: 12px;
  background-color: #edeef0;
  width: 22%;
}

.central-block {
  padding-top: 12px;
  background-color: #ffffff;
  width: 56%;
}

.right-block {
  padding-top: 12px;
  background-color: #edeef0;
  width: 22%;
}

h5 {
  font-size: 18px;
  color: #424c43;
  }

.lower {
  margin: auto;
  width: 1020px;
  text-align: center;
  color: #ffffff;
  opacity: 0.8;
}
