* {
  box-sizing: border-box;
}

.top-menu {
  height: 37px;
  width: 100%;
  background-color: blue;
}

.wrapper {
  height: 100%;
  width: 100%;
  background: url(../img/background.jpg) no-repeat;
  background-size: cover;
  padding-top: 200px;
}

.top-text {
  width: 560px;
  background-color: rgba(0, 0, 0, 0.63);
  margin: 0px auto;
  text-align: center;
  padding-top: 31px;
  padding-bottom: 31px;
  color: white;
  font-size: 24px;
}

form {
  width: 560px;
  margin: 2px auto 0px auto;
  background-color: rgba(0, 0, 0, 0.63);
  padding-top: 35px;
  padding-bottom: 15px;
}

a {
  margin: 0 auto;
  text-decoration: none;
  color: #fbffff;
  display: flex;
  align-items: center;
  background-color: #324881;
  width: 275px;
  border-radius: 4px;
  height: 30px;
  border-color: #324881;
  box-shadow: 0 -1px 0px #7789b7;
}

.fb-label {
  width: 38px;
  border-right-width: 1px;
  border-right-style: outset;
  border-right-color: #4d68ab;
  text-align: center;
}

.fb-text {
  margin-left: 15px;
  border-left-width: 1px;
  border-left-color: #4d68ab;
  font-weight: lighter;
}

.fb {
  font-size: 16px;
  font-weight: 700;
}


fieldset {
  width: 275px;
  border-width: 1px;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-color: #000;
  color: #60655f;
  margin: 30px auto 10px;
}

legend {
  text-align: center;
  padding: 0 5px;
}

[type="text"],
[type="password"] {
  height: 35px;
  width: 100%;
  margin-top: 17px;
  padding-left: 17px;
}

[type="checkbox"] {
  vertical-align: middle;
  margin: 17px 0;
  border-style: double;
}

.update {
  opacity: 0.63;
}

label {
  color: white;
  font-size: 14px;
  font-weight: normal;
}

.submitting {
  width: 150px;
  background-color: rgb(49,127,199);
  color: white;
  font-size: 14px;
  padding: 17px 13px;
  border-color: rgb(49,127,199);
  border-radius: 4px;
  font-size: 14px;
  margin-left: 55px; /*костыль - надо править*/

}

.low-text {
  text-align: center;
  color: white;
  font-size: 11px;
  font-weight: 100;
}

p {
  opacity: 0.63;
  line-height: 6px;
}
